NODE_ENV=development 
PORT=8001
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/user_db
JWT_SECRET="jwt-secret-sample"
COOKIE_PARSER_SECRET="cookie-parser-sercre-sample"
MEDIA_SERVICE_URL=http://localhost:8002
GEMINI_API_KEY=
ENCRYPTION_KEY="secret"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:8001/api/users/integrations/google/callback"
GOOGLE_CALENDAR_SCOPES="https://www.googleapis.com/auth/calendar.readonly"

