NODE_ENV=development 
PORT=8001
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/user_db
JWT_SECRET="jwt-secret-sample"
COOKIE_PARSER_SECRET="cookie-parser-sercre-sample"
ENCRYPTION_KEY="secret"


MEDIA_SERVICE_URL=http://localhost:8002
COURSE_SERVICE_URL=http://localhost:8003

GEMINI_API_KEY=

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:8001/api/users/integrations/google/callback"

GOOGLE_CALENDAR_SCOPES="https://www.googleapis.com/auth/calendar.readonly"
GOOGLE_DRIVE_SCOPES="https://www.googleapis.com/auth/drive.readonly"
GOOGLE_GMAIL_SCOPES="https://www.googleapis.com/auth/gmail.readonly"

NOTION_TOKEN=""
NOTION_AUTHORIZATION_URL=""
NOTION_CLIENT_ID=""
NOTION_CLIENT_SECRET=""
NOTION_REDIRECT_URI=""